USE [master]
GO
/****** Object:  Database [Congratulator]    Script Date: 09.02.2024 3:58:44 ******/
CREATE DATABASE [Congratulator]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Congratulator', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\Congratulator.mdf' , SIZE = 73728KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Congratulator_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\Congratulator_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Congratulator].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Congratulator]
GO
/****** Object:  Table [dbo].[Persons]    Script Date: 09.02.2024 3:58:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Persons](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[surname] [varchar](50) NULL,
	[name] [varchar](50) NULL,
	[middlename] [varchar](50) NULL,
	[birthday] [datetime] NOT NULL,
 CONSTRAINT [PK_Persons] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PersonsImages]    Script Date: 09.02.2024 3:58:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PersonsImages](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[personId] [int] NOT NULL,
	[contentType] [varchar](50) NOT NULL,
	[fileContent] [varchar](max) NOT NULL,
 CONSTRAINT [PK_PersonsImages] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[PersonsImages]  WITH CHECK ADD  CONSTRAINT [FK_PersonsImages_Persons] FOREIGN KEY([personId])
REFERENCES [dbo].[Persons] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[PersonsImages] CHECK CONSTRAINT [FK_PersonsImages_Persons]
GO
USE [master]
GO
